<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <!--<bean id="deviceDAOImpl" class="org.tamin.model.dao.DeviceDAOImpl"/>-->
    <!--<bean id="ChildUpdateDAOImpl" class="org.tamin.model.dao.ChildUpdateDAOImpl"/>-->

    <!--<bean id="MessageNotifier" class="org.tamin.jobs.MessageNotifier">-->
        <!--<property name="ChildUpdateDAOImpl" ref="ChildUpdateDAOImpl"/>-->

    <!--</bean>-->

    <!--<bean id="loginDeviceBean" class="org.tamin.web.bean.LoginDeviceBean">-->
        <!--<property name="deviceDAOImpl" ref="deviceDAOImpl"/>-->
    <!--</bean>-->


    <!-- -->
    <!--<bean id="customerDAO" class="org.RayanEN.model.dao.Customer.CustomerDAOImpl"/>-->
    <!--<bean id="cstsrv" class="org.RayanEN.model.service.Customer.CustomerJAXWSImpl">-->
    <!--<property name="customerDAO" ref="customerDAO"/>-->
    <!--</bean>-->


    <!--<bean id="customerRESTImpl" class="org.RayanEN.model.service.Customer.CustomerRESTImpl">-->
    <!--<property name="customerDAO" ref="customerDAO"/>-->
    <!--</bean>-->


    <!--<ws:service id="cstsrv" impl="org.RayanEN.model.service.Customer.CustomerJAXWSImpl"   />-->

    <!--<wss:binding url="/CustomerService" service="cstsrv" />-->

    <!--<bean id="ServiceMediator" class="org.tamin.services.controller.ServiceMediator"/>-->

    <!--<bean id="ServiceManager" class="org.tamin.services.service.ServiceManagerImpl" >-->
        <!--<property name="ServiceMediator" ref="ServiceMediator"/>-->
    <!--</bean>-->


</beans>
